include:
  - template: Workflows/MergeRequest-Pipelines.gitlab-ci.yml

stages:
  - affected
  - build

default:
  image: node:20

variables:
  CI: 'true'
  NX_CLOUD_ACCESS_TOKEN: $NX_CLOUD_AUTH_TOKEN
  NX_CLOUD_DISTRIBUTED_EXECUTION_AGENT_COUNT: 2

.node-cache: &node-cache
  key:
    files:
      - pnpm-lock.yaml
  paths:
    - .pnpm-store
  policy: pull

# Creating template for a job running DTE (orchestrator)
.base-pipeline:
  interruptible: true
  cache:
    <<: *node-cache
    policy: pull-push
  before_script:
    - corepack enable
    - corepack prepare pnpm@latest-8 --activate
    - pnpm config set store-dir .pnpm-store
    - pnpm install --frozen-lockfile

.dte-agent:
  extends: .base-pipeline
  cache:
    <<: *node-cache
  script:
    - pnpm exec nx-cloud start-agent

# Main job running DTE
CI:
  stage: affected
  extends: .base-pipeline
  cache:
    <<: *node-cache
    policy: pull-push
  variables:
    GIT_DEPTH: 0
  script:
    - pnpm exec nx-set-shas gitlab -o nx.env -t $GL_API_TOKEN
    - set -a
      [ -f nx.env ] && . nx.env
      set +a
    - pnpm exec nx-cloud start-ci-run
    - pnpm exec nx-cloud record -- pnpm exec nx format:check --base=$NX_BASE --head=$NX_HEAD
    - pnpm exec nx affected --base=$NX_BASE --head=$NX_HEAD --target=lint --parallel=3 & pnpm exec nx affected --base=$NX_BASE --head=$NX_HEAD --target=test --parallel=3 --ci --code-coverage & pnpm exec nx affected --base=$NX_BASE --head=$NX_HEAD --target=build --parallel=3

  after_script:
    - pnpm exec nx-cloud stop-all-agents
  artifacts:
    expire_in: 5 days
    paths:
      - node_modules/.cache/nx
      - dist
    reports:
      dotenv: nx.env

# Create as many agents as you want
nx-dte-agent1:
  extends: .dte-agent
  stage: affected
nx-dte-agent2:
  extends: .dte-agent
  stage: affected
# nx-dte-agent3:
#   extends: .dte-agent
#   stage: affected

container:
  image: gperdomor/nx-podman:20
  stage: build
  cache:
    <<: *node-cache
  needs:
    - CI
  variables:
    NX_CLOUD_DISTRIBUTED_EXECUTION: 'false'
  before_script:
    - !reference [.base-pipeline, before_script]
    - echo "$CI_REGISTRY_PASSWORD" | podman login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
  script:
    - pnpm exec nx affected --base=$NX_BASE --head=$NX_HEAD --target=container --configuration=ci --parallel=2
  artifacts:
    expire_in: 5 days
    paths:
      - node_modules/.cache/nx-container
