include:
  - template: Workflows/MergeRequest-Pipelines.gitlab-ci.yml
  - template: Security/Dependency-Scanning.gitlab-ci.yml
  - template: Security/License-Scanning.gitlab-ci.yml
  - template: Security/SAST.gitlab-ci.yml
  - template: Security/Secret-Detection.gitlab-ci.yml
  - template: Jobs/Code-Quality.gitlab-ci.yml
  - template: Jobs/Code-Intelligence.gitlab-ci.yml
  - template: Security/Container-Scanning.gitlab-ci.yml

stages:
  - affected
  - test

default:
  image: node:18.7.0

variables:
  NX_CLOUD_ACCESS_TOKEN: $NX_CLOUD_AUTH_TOKEN
  NX_CLOUD_DISTRIBUTED_EXECUTION: 'true'

###############################
### Included Jobs

license_scanning:
  needs: []
  variables:
    ASDF_NODEJS_VERSION: '18.7.0'

# Secret Detection customization: https://docs.gitlab.com/ee/user/application_security/secret_detection/#customizing-settings
secret_detection:
  needs: []

# Dependency Scanning customization: https://docs.gitlab.com/ee/user/application_security/dependency_scanning/#customizing-the-dependency-scanning-settings
dependency_scanning:
  needs: []

# SAST customization: https://docs.gitlab.com/ee/user/application_security/sast/#customizing-the-sast-settings
sast:
  needs: []

code_quality:
  artifacts:
    paths: [gl-code-quality-report.json]

.base-cache:
  cache:
    key:
      files:
        - package-lock.json
    paths:
      - '.npm/'
    policy: pull

# Creating template for a job running DTE (orchestrator)
.base-node:
  extends: [.base-cache]
  interruptible: true
  before_script:
    - npm ci --cache .npm --prefer-offline
    - NX_HEAD=$CI_COMMIT_SHA
    - NX_BASE=${CI_MERGE_REQUEST_DIFF_BASE_SHA:-$CI_COMMIT_BEFORE_SHA}
  artifacts:
    expire_in: 5 days
    paths:
      - node_modules/.cache/nx

# Main job running DTE
nx-dte:
  stage: affected
  extends: .base-node
  cache:
    policy: pull-push
  script:
    - npx nx-cloud start-ci-run
    - npx nx-cloud record -- npx nx workspace-lint --base=$NX_BASE --head=$NX_HEAD
    - npx nx-cloud record -- npx nx format:check --base=$NX_BASE --head=$NX_HEAD
    - npx nx affected --base=$NX_BASE --head=$NX_HEAD --target=lint --parallel=3
    - npx nx affected --base=$NX_BASE --head=$NX_HEAD --target=test --parallel=3 --ci --code-coverage
    # - npx nx affected --base=$NX_BASE --head=$NX_HEAD --target=e2e --parallel=3 --ci --code-coverage
    - npx nx affected --base=$NX_BASE --head=$NX_HEAD --target=build --parallel=3
  after_script:
    - npx nx-cloud stop-all-agents
  artifacts:
    paths:
      - node_modules/.cache/nx
      - dist

# Create as many agents as you want
nx-dte-agents:
  parallel: 2
  stage: affected
  extends: .base-node
  script:
    - echo "Start Nx Agent $CI_NODE_INDEX of $CI_NODE_TOTAL"
    - NX_CLOUD_DISTRIBUTED_EXECUTION=false npx nx affected --base=$NX_BASE --head=$NX_HEAD --target=prisma-generate --parallel=3
    - npx nx-cloud start-agent
  coverage: '/All files[^|]*\|[^|]*\s+([\d\.]+)/'
  artifacts:
    expire_in: 5 days
    reports:
      coverage_report:
        coverage_format: cobertura
        path: coverage/**/cobertura-coverage.xml

nx-docker:
  extends: [.base-cache]
  image: gperdomor/nx-docker:18.7.0-alpine
  needs:
    - nx-dte
  services:
    - docker:20.10.17-dind
  variables:
    # Docker config
    DOCKER_BUILDKIT: 1
    DOCKER_DRIVER: overlay2
    NX_DOCKER_SHORT_SHA_LENGTH: 8
    NX_CLOUD_DISTRIBUTED_EXECUTION: 'false'
    # Nx Docker
    INPUT_PUSH: 'true'
    INPUT_STUDIO_IMAGES: registry.gitlab.com/gperdomor/rollouts/studio
    INPUT_API_IMAGES: registry.gitlab.com/gperdomor/rollouts/api
  before_script:
    # Login to registry
    - echo "$CI_REGISTRY_PASSWORD" | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
    - !reference [.base-node, before_script]
  script:
    - npx nx affected --base=$NX_BASE --head=$NX_HEAD --target=docker --parallel=2

container_scanning:
  parallel:
    matrix:
      - IMAGE: [studio]
  variables:
    DOCKER_IMAGE: registry.gitlab.com/gperdomor/rollouts/$IMAGE:sha-$CI_COMMIT_SHORT_SHA
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
