include:
  - template: Workflows/MergeRequest-Pipelines.gitlab-ci.yml
  - template: Security/Dependency-Scanning.gitlab-ci.yml
  - template: Security/License-Scanning.gitlab-ci.yml
  - template: Security/SAST.gitlab-ci.yml
  - template: Security/Secret-Detection.gitlab-ci.yml
  - template: Jobs/Code-Quality.gitlab-ci.yml
  - template: Jobs/Code-Intelligence.gitlab-ci.yml
  - template: Security/Container-Scanning.gitlab-ci.yml

stages:
  - affected
  - test

default:
  image: node:18.12.1

variables:
  NX_CLOUD_ACCESS_TOKEN: $NX_CLOUD_AUTH_TOKEN
  NX_CLOUD_DISTRIBUTED_EXECUTION: 'true'

###############################
### Included Jobs

license_scanning:
  needs: []
  variables:
    ASDF_NODEJS_VERSION: '18.12.1'

# Secret Detection customization: https://docs.gitlab.com/ee/user/application_security/secret_detection/#customizing-settings
secret_detection:
  needs: []

# Dependency Scanning customization: https://docs.gitlab.com/ee/user/application_security/dependency_scanning/#customizing-the-dependency-scanning-settings
dependency_scanning:
  needs: []

# SAST customization: https://docs.gitlab.com/ee/user/application_security/sast/#customizing-the-sast-settings
sast:
  needs: []

code_quality:
  artifacts:
    paths: [gl-code-quality-report.json]

.node-cache: &node-cache
  key:
    files:
      - package-lock.json
  paths:
    - '.npm'
  policy: pull

# Creating template for a job running DTE (orchestrator)
.base-pipeline:
  interruptible: true
  cache:
    <<: *node-cache
  before_script:
    - npm ci --cache .npm --prefer-offline

# Main job running DTE
nx-dte:
  stage: affected
  extends: .base-pipeline
  cache:
    <<: *node-cache
    policy: pull-push
  variables:
    GIT_DEPTH: 0
  script:
    - npx nx-set-shas gitlab -o nx.env -t $GL_API_TOKEN
    - set -a
      [ -f nx.env ] && . nx.env
      set +a
    - npx nx-cloud start-ci-run --stop-agents-after="build"
    - npx nx-cloud record -- npx nx workspace-lint --base=$NX_BASE --head=$NX_HEAD
    - npx nx-cloud record -- npx nx format:check --base=$NX_BASE --head=$NX_HEAD
    - npx nx affected --base=$NX_BASE --head=$NX_HEAD --target=lint --parallel=3
    - npx nx affected --base=$NX_BASE --head=$NX_HEAD --target=test --parallel=3 --ci --code-coverage
    # - npx nx affected --base=$NX_BASE --head=$NX_HEAD --target=e2e --parallel=3 --ci --code-coverage
    - npx nx affected --base=$NX_BASE --head=$NX_HEAD --target=build --parallel=3
  artifacts:
    expire_in: 5 days
    paths:
      - node_modules/.cache/nx
      - dist
    reports:
      dotenv: nx.env

# Create as many agents as you want
nx-dte-agents:
  # parallel: 2
  stage: affected
  extends: .base-pipeline
  script:
    - npx nx-cloud start-agent
