---
workflow:
  auto_cancel:
    on_new_commit: conservative
  rules:
    - if: '$CI_MERGE_REQUEST_IID && $CI_COMMIT_REF_NAME =~ /^renovate\/.*$/'
      variables:
        RUNNER_TAG: 'renovate-runner'
        NX_EXTRA_ARGS: '--no-cloud'
    - if: $CI_MERGE_REQUEST_IID
    - if: $CI_COMMIT_TAG
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

include:
  - template: 'Jobs/Code-Quality.gitlab-ci.yml'

default:
  image: node:24
  tags:
    - $RUNNER_TAG

variables:
  CI: 'true'
  GIT_DEPTH: 0
  GIT_FETCH_EXTRA_FLAGS: --filter=tree:0
  RUNNER_TAG: 'saas-linux-small-amd64'
  NX_EXTRA_ARGS: ''

code_quality:
  artifacts:
    paths: [gl-code-quality-report.json]

lint:commit-msg:
  before_script:
    - corepack enable
    - corepack install
    - pnpm config set store-dir .pnpm-store
    - pnpm install --frozen-lockfile
  script:
    - npx commitlint --from ${CI_MERGE_REQUEST_DIFF_BASE_SHA} --to ${CI_COMMIT_SHA}
  rules:
    - if: $CI_MERGE_REQUEST_IID
      when: always
    - when: never

lint:branch:
  script:
    - |
      export BRANCH_REGEX_RULE="^(master|main|develop|release){1}$|^(feature|fix|hotfix|release|renovate)\/.+$"
      if [[ $CI_COMMIT_REF_NAME =~ $BRANCH_REGEX_RULE ]]; then
        echo "Branch name validation passed!"
      else
        echo "Error Msg: Branch name validate failed please rename your current branch"
        echo "Branch Name: \"$CI_COMMIT_REF_NAME\""
        echo "Pattern: \"/$BRANCH_REGEX_RULE/g\""
        exit 1
      fi
  rules:
    - if: $CI_COMMIT_TAG
      when: never
    - when: always

# Main job
CI:
  interruptible: true
  variables:
    NX_CLOUD_ACCESS_TOKEN: $NX_CLOUD_ACCESS_TOKEN
  cache:
    key:
      files:
        - pnpm-lock.yaml
    paths:
      - .pnpm-store
  before_script:
    - corepack enable
    - corepack install
    - pnpm config set store-dir .pnpm-store
  script:
    # This enables task distribution via Nx Cloud
    # Run this command as early as possible, before dependencies are installed
    # Learn more at https://nx.dev/ci/reference/nx-cloud-cli#npx-nxcloud-startcirun
    # Uncomment this line to enable task distribution
    # - pnpm dlx nx start-ci-run --distribute-on="3 linux-medium-js" --stop-agents-after="build"

    - pnpm install --frozen-lockfile
    - pnpm exec nx-set-shas gitlab -t $API_TOKEN -o nx.env
    - set -a
      [ -f nx.env ] && . nx.env
      set +a

    # Prepend any command with "nx-cloud record --" to record its logs to Nx Cloud
    - pnpm exec nx-cloud record -- nx format:check --base=$NX_BASE --head=$NX_HEAD $NX_EXTRA_ARGS
    # Nx Affected runs only tasks affected by the changes in this PR/commit. Learn more: https://nx.dev/ci/features/affected
    - pnpm exec nx affected --base=$NX_BASE --head=$NX_HEAD -t lint test build typecheck $NX_EXTRA_ARGS
  after_script:
    # Nx Cloud recommends fixes for failures to help you get CI green faster. Learn more: https://nx.dev/ci/features/self-healing-ci
    - pnpm exec nx fix-ci
  coverage: '/All files[^|]*\|[^|]*\s+([\d\.]+)/'
