version: '3.8'

services:
  postgres:
    image: postgres:14.5-alpine
    container_name: postgres
    environment:
      - POSTGRES_USER=rollouts
      - POSTGRES_PASSWORD=rollouts
      - POSTGRES_DB=rollouts
    volumes:
      - postgres:/var/lib/postgresql/data
    ports:
      - 5432:5432

volumes:
  postgres:
